[submodule "2019"]
	path = 2019
	url = https://github.com/SKalt/card-2019.git
	branch = dist
[submodule "2021"]
	path = 2021
	url = https://github.com/SKalt/card-2021.git
	branch = dist
[submodule "2022"]
	path = 2022
	url = https://github.com/SKalt/card-2022.git
	branch = build
[submodule "2023"]
	path = 2023
	url = https://github.com/SKalt/card-2023.git
	branch = dist
[submodule "2024"]
	path = 2024
	url = https://github.com/SKalt/card-2024.git
	branch = dist
[submodule "2025"]
	path = 2025
	url = git@github.com:SKalt/card-2025.git
	branch = dist
[submodule "2018"]
	path = 2018
	url = git@github.com:skalt/card-2018.git
	branch = dist
