/* defs and mixins */
@mixin parallax($name: "parallax", $number_of_layers: 3, $start_layer: 0, $space: -100) {
  @for $i from $start_layer through $number_of_layers {
    $x: ($parallax__layers - $i) / 2;
    .#{$name}_layer_#{$i}{
     transform: translateZ(#{-100 * $x}px) scale(#{$x + 1});
    }
  }
}

/* general scaffolding / element styling */
svg path {
  fill-opacity: 1;
  stroke-opacity: 1;
  opacity: 1;
}

img {
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: visible;
  width: 100%;
}

// body>div:first-child {
//   // overflow-x: hidden;
//
// }

/* classes */
img.snow {
  position: relative;
}

// .sheet {
//   width: 100%;
//   height: 410vh;
//   background-image: url('./img/snow.svg');
//   background-repeat: repeat;
// }


.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  // margin-left: -1500px;
}
// TODO: media query for phones
//
.parallax__layer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  svg {
    display: block;
    position: relative;
    bottom: 0;
  }
}

$parallax__layers: 6;

@for $i from 0 through $parallax__layers {
  $x: ($parallax__layers - $i) / 2;
  .parallax__layer__#{$i}{
    transform: translateZ(#{-1 * $x}px) scale(4);
  }
}

@for $i from 0 through 12 {
  $color: hsl(227, 55%, 10 * $i);
  .fill_#{$i} { fill: $color; }
  // #c#{$i}__frame * {
  //   @extend .fill_#{$i}
  // }
  .stroke_#{$i} { stroke: $color; }
  .color_#{$i} {color: $color; }
}

/* id'd stuff */
// #clouds, #houses {
//   @extend .parallax__layer;
// }

#c1__frame {
  @extend .fill_1;
  @extend .stroke_1;
}
#c2__frame {
  @extend .fill_3;
  @extend .stroke_3;
}
#c3__frame {
  @extend .fill_6;
  @extend .stroke_6;
}
#c4__frame {
  @extend .fill_8;
  @extend .stroke_8;
}
#c5__frame {
  @extend .fill_12;
  @extend .stroke_12;
}

#h1__frame {
  & * {
    @extend .fill_2;
    @extend .stroke_2;
  }
  & .snow {
    @extend .fill_3;
    @extend .stroke_3;

  }
  & .darker {
    @extend .fill_1;
    @extend .stroke_1;
  }
}
#h2__frame {
  & .darker {
    fill: none;
    stroke-width: 0.26458332px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    // stroke-fill: #000000;
    @extend .fill_3;
    @extend .stroke_3;
    &.darker_smaller {
      stroke-width: 0.13229166
    }
    &.darkest_wndw {
      @extend .fill_1;
    }
  }
  & * {
    @extend .fill_6;
    @extend .stroke_6;
  }
  & .snow {
    @extend .fill_8;
    @extend .stroke_8;
  }
}
#h3__frame {
  & * {
    @extend .fill_8;
    @extend .stroke_8;
  }
  & .darker {
    @extend .fill_7;
    @extend .stroke_7;
  }
  & .fence_main {@extend .fill_6;}
  & .fence_post {@extend .fill_4;}
  & .fence_upper {@extend .fill_5;}

  & .snow {
    @extend .fill_9;
    @extend .stroke_9;
  }
}

#wndw_1, #wndw_2 {
  @extend .fill_12;
}
